/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
font-family: sans-serif;
}


/* barra login */

.container > nav {
border-bottom: 2px solid black;
}

.menu {
  line-height: normal;
  background-color: #e5f5f8;
  position: relative;
  padding: 10px 60px;
}


/* .menu.left, header, .text-jumbotron {
 margin-left: 80px;
} */

header {
position: relative;
/* debug */
/* background-color: yellow; */
min-height: 300px;
/* fine debug */
}

.menu.left {
  float: left;
}

.menu.right {
  float: right;
}
/* .menu.right, .actions {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  padding-right: 40px;
} */

  li, a {
   color: black;
   display: inline-block;
   text-decoration: none;
   list-style: none;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.menu.right i {
  color: #1ad1ff;
  padding: 10px;
}

.menu.left i {
  color: black;
  padding: 0 2px;
}
.login {
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: white;
  color: #ff7a59;
  padding: 10px;
}

.CTA {
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: #ff7a59;
  color: white;
  padding: 10px;
}

/* menu di navigazione */
#logo {
  float: left;
  padding-top: 10px;
  padding-left: 120px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
}

#options {
  float: right;
  padding-right: 120px;
}

#options i {
  color: black;
  padding: 0 2px;
}
/* jumbotron */

.jumbotron {
  background-image: url("../img/jumbotron.png");
  background-size: auto;
  height: 700px;
  /* margin-left: -80px; */
  position: relative;
}

.text-jumbotron {
width: 60%;
padding-left: 120px;
}

h1 {
  font-size: 60px;
  padding: 25px 0;
}

p {
  padding: 25px 0;
}

/* sezione centrale */

.contenitore-centrale {
  text-align: center;
  background-color: #e5f5f8;
}

.contenitore-centrale img
{
  width: 200px;
  height: auto;
  padding: 15px 0;
}

.white-box, .hub-container {
  width: 90%;
  margin: 0 auto;
}

.white-box, .box-hub
{
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 1px;
}

.learn-more {
  float: left;
  padding-left: 10%;
}

.free-hubspot {
  width: 60%;
  float: left;
  text-align: left;
  padding: 40px;
}

li i {
  color: #ff7a59;
}

/* 3 float box Hub */

.box-hub {
  float: left;
  width: calc((100% / 3) - 2px);
  border: 1px solid lightgrey;
  margin: 20px 1px;
  text-align: center;
  min-height: 600px;
  padding: 20px;
}

.box-hub img {
  height: 160px;
  width: auto;
}

.feature li  {
  display: block;
  text-align: left;
}

.feature li:last-child {
  text-align: center;
}

.feature h4
{
 padding: 15px 0;
}

/* box azzurro */
.lightblue-box {
  background-color: #00a4bd;
  color: white;
  padding: 20px;
}

.figures-coloumn {
  float: left;
  width: calc((100% / 4) - 2px);
  border-left: 1px solid white;
}

.figures-table div:first-child {
  border-left: 0px;
}

.figures-coloumn img {
  height: 100px;
  width: auto;
}

.figures-coloumn i {
  font-size: 40px;
}

.figures-coloumn h2 {
font-size: 40px;
}

/* blocco clienti */
.customer-container {
  min-height: 200px;
}

.customer-container section:first-child {
  width: 30%;
  float: left;
  padding: 2% 6%;
}

section.loghi {
  width: 50%;
  min-height: 400px;
  float: left;
  padding: 20px;
}

.loghi img:last-child  {
  width: 50%;
  height: auto;
}


/* footer */

footer {
  background-color: #33475b;
}

.footer-column {
  color: white;
  padding: 20px;
  float: left;
  width: calc((100% / 4) - 4px);
}

.footer-column li{
  display: block;
}

.CTA.white {
  background-color: white;
  color: #33475b;
  border: 1px solid white;
  padding: 10px;
}

.social li {
  display: inline-block;
}

.social i {
  color: white;
  font-size: 20px;
  padding: 0 2px;
}

.footer-container {
  border-bottom: 1px solid white;
}

.language {
  text-align: center;
}

footer a {
  color: white;
}

.footer-column h3 {
  padding-bottom: 15px;
}

.footer-column a {
  padding: 1px 0;
}
.credits {
  color: white;
  float: left;
  padding: 20px 60px;
}

.credits, .privacy li {
  color: white;
}
.privacy {
  float: right;
  padding: 20px 60px;
}
